<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ELI Mall Shopping</display-name>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <jsp-file>/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product</servlet-name>
    <jsp-file>/product.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/product.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productdetail</servlet-name>
    <jsp-file>/productdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdetail</servlet-name>
    <url-pattern>/productdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cart</servlet-name>
    <jsp-file>/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <jsp-file>/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentmanage</servlet-name>
    <jsp-file>/paymentmanage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentmanage</servlet-name>
    <url-pattern>/paymentmanage.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment</servlet-name>
    <jsp-file>/payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <jsp-file>/upload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Statistics</servlet-name>
    <jsp-file>/Statistics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statistics</servlet-name>
    <url-pattern>/sale.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seller</servlet-name>
    <jsp-file>/seller.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>seller</servlet-name>
    <url-pattern>/seller.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>informationaccount</servlet-name>
    <jsp-file>/informationaccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>informationaccount</servlet-name>
    <url-pattern>/accountdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accountManager</servlet-name>
    <jsp-file>/accountManager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountManager</servlet-name>
    <url-pattern>/accountform.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePassword</servlet-name>
    <jsp-file>/changePassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changepass.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageorders</servlet-name>
    <jsp-file>/ordermanage/manageorders.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageorders</servlet-name>
    <url-pattern>/order.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editorderproduct</servlet-name>
    <jsp-file>/editorderproduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editorderproduct</servlet-name>
    <url-pattern>/editorder.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testorderdetail</servlet-name>
    <jsp-file>/testorderdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>testorderdetail</servlet-name>
    <url-pattern>/orderdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>promotion</servlet-name>
    <jsp-file>/promotion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>promotion</servlet-name>
    <url-pattern>/promotion.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/welcome</servlet-name>
    <jsp-file>/admin/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/welcome</servlet-name>
    <url-pattern>/admin/welcome.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/inbox</servlet-name>
    <jsp-file>/admin/inbox.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/inbox</servlet-name>
    <url-pattern>/admin/inbox.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/index</servlet-name>
    <jsp-file>/admin/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/index</servlet-name>
    <url-pattern>/admin/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/login</servlet-name>
    <jsp-file>/admin/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/login</servlet-name>
    <url-pattern>/admin/login.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/changepass</servlet-name>
    <jsp-file>/admin/changepass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/changepass</servlet-name>
    <url-pattern>/admin/changepass.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/category</servlet-name>
    <jsp-file>/admin/category.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/category</servlet-name>
    <url-pattern>/admin/category.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/categoryadd</servlet-name>
    <jsp-file>/admin/categoryadd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/categoryadd</servlet-name>
    <url-pattern>/admin/categoryadd.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/categorydelete</servlet-name>
    <jsp-file>/admin/categorydelete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/categorydelete</servlet-name>
    <url-pattern>/admin/categorydelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/user</servlet-name>
    <jsp-file>/admin/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/user</servlet-name>
    <url-pattern>/admin/user.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/lock</servlet-name>
    <jsp-file>/admin/lock.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/lock</servlet-name>
    <url-pattern>/admin/lock.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/userdetail</servlet-name>
    <jsp-file>/admin/userdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/userdetail</servlet-name>
    <url-pattern>/admin/userdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/userform</servlet-name>
    <jsp-file>/admin/userform.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/userform</servlet-name>
    <url-pattern>/admin/userform.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/userform1</servlet-name>
    <jsp-file>/admin/userform1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/userform1</servlet-name>
    <url-pattern>/admin/userform1.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/product</servlet-name>
    <jsp-file>/admin/product.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/product</servlet-name>
    <url-pattern>/admin/product.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/productdetail</servlet-name>
    <jsp-file>/admin/productdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/productdetail</servlet-name>
    <url-pattern>/admin/productdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/productform</servlet-name>
    <jsp-file>/admin/productform.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/productform</servlet-name>
    <url-pattern>/admin/productform.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/productdelete</servlet-name>
    <jsp-file>/admin/productdelete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/productdelete</servlet-name>
    <url-pattern>/admin/productdelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/order</servlet-name>
    <jsp-file>/admin/order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/order</servlet-name>
    <url-pattern>/admin/order.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/orderdetail</servlet-name>
    <jsp-file>/admin/orderdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/orderdetail</servlet-name>
    <url-pattern>/admin/orderdetail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/orderdelete</servlet-name>
    <jsp-file>/admin/orderdelete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/orderdelete</servlet-name>
    <url-pattern>/admin/orderdelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/statisticsAdmin</servlet-name>
    <jsp-file>/admin/statisticsAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/statisticsAdmin</servlet-name>
    <url-pattern>/admin/salemonth.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/stisticsmonthcurrent</servlet-name>
    <jsp-file>/admin/stisticsmonthcurrent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/stisticsmonthcurrent</servlet-name>
    <url-pattern>/admin/salemonthcurrent.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/stisticsyearcurrent</servlet-name>
    <jsp-file>/admin/stisticsyearcurrent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/stisticsyearcurrent</servlet-name>
    <url-pattern>/admin/saleyearcurrent.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/welcome</servlet-name>
    <jsp-file>/sale/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/welcome</servlet-name>
    <url-pattern>/sale/welcome.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/upload</servlet-name>
    <jsp-file>/sale/upload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/upload</servlet-name>
    <url-pattern>/sale/upload.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/Notice</servlet-name>
    <jsp-file>/sale/Notice.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/Notice</servlet-name>
    <url-pattern>/sale/notice.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/sellerinfo</servlet-name>
    <jsp-file>/sale/sellerinfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/sellerinfo</servlet-name>
    <url-pattern>/sale/sellerinfo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/updateinforaccount</servlet-name>
    <jsp-file>/sale/updateinforaccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/updateinforaccount</servlet-name>
    <url-pattern>/sale/changeaccount.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/deliverstatus</servlet-name>
    <jsp-file>/sale/deliverstatus.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/deliverstatus</servlet-name>
    <url-pattern>/sale/deliverstatus.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/amountprice</servlet-name>
    <jsp-file>/sale/amountprice.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/amountprice</servlet-name>
    <url-pattern>/sale/amountprice.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/inventory</servlet-name>
    <jsp-file>/sale/inventory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/inventory</servlet-name>
    <url-pattern>/sale/inventory.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/delivercost</servlet-name>
    <jsp-file>/sale/delivercost.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/delivercost</servlet-name>
    <url-pattern>/sale/delivercost.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/deliverinfo</servlet-name>
    <jsp-file>/sale/deliverinfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/deliverinfo</servlet-name>
    <url-pattern>/sale/deliverinfo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/shippingcompany</servlet-name>
    <jsp-file>/sale/shippingcompany.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/shippingcompany</servlet-name>
    <url-pattern>/sale/shippingcompany.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/homedeliver</servlet-name>
    <jsp-file>/sale/homedeliver.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/homedeliver</servlet-name>
    <url-pattern>/sale/homedeliver.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/ordercancel</servlet-name>
    <jsp-file>/sale/sellerordercancel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/ordercancel</servlet-name>
    <url-pattern>/sale/cancelorder.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/exchangeorder</servlet-name>
    <jsp-file>/sale/ExchangeOrder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/exchangeorder</servlet-name>
    <url-pattern>/sale/exchangeorder.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppinghelp</servlet-name>
    <jsp-file>/ShoppingHelp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppinghelp</servlet-name>
    <url-pattern>/ShoppingHelp.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageordersapplycancel</servlet-name>
    <jsp-file>/ordermanage/manage_apply_cancel_order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageordersapplycancel</servlet-name>
    <url-pattern>/orderapplycancel.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageorderscancel</servlet-name>
    <jsp-file>/ordermanage/manage_cancelling_order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageorderscancel</servlet-name>
    <url-pattern>/ordercancel.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returnexchangeorder</servlet-name>
    <jsp-file>/ordermanage/manage_return_exchange_order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnexchangeorder</servlet-name>
    <url-pattern>/returnexchangeorder.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applyreturnexchangeorder</servlet-name>
    <jsp-file>/ordermanage/manage_apply_return_exchage_order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyreturnexchangeorder</servlet-name>
    <url-pattern>/applyreturnexchangeorder.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reorder</servlet-name>
    <jsp-file>/ordermanage/return_exchange_order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>reorder</servlet-name>
    <url-pattern>/returnexchange.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reordersuccessfull</servlet-name>
    <jsp-file>/ordermanage/returnexchangesuccessfull.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>reordersuccessfull</servlet-name>
    <url-pattern>/returnexchangesuccessfull.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderdetailinfo</servlet-name>
    <jsp-file>/ordermanage/orderdetailinfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderdetailinfo</servlet-name>
    <url-pattern>/orderdetailinfo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingHelp</servlet-name>
    <jsp-file>/ShoppingHelp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingHelp</servlet-name>
    <url-pattern>/ShoppingHelp.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelrefundinfo</servlet-name>
    <jsp-file>/ordermanage/cancel_refund_info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelrefundinfo</servlet-name>
    <url-pattern>/cancel_refund_info.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returnexchangeinfo</servlet-name>
    <jsp-file>/ordermanage/return_exchange_info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnexchangeinfo</servlet-name>
    <url-pattern>/return_exchange_info.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageoption</servlet-name>
    <jsp-file>/sale/manageoption.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageoption</servlet-name>
    <url-pattern>/sale/manageoption.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/configure</servlet-name>
    <jsp-file>/admin/emailconfigure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/configure</servlet-name>
    <url-pattern>/admin/emailconfigure.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/updateConfigure</servlet-name>
    <jsp-file>/admin/updateemailconfigure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/updateConfigure</servlet-name>
    <url-pattern>/admin/updateEmailconfigure.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sale/delivercostforproduct</servlet-name>
    <jsp-file>/sale/DeliverCostForProdut.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sale/delivercostforproduct</servlet-name>
    <url-pattern>/sale/delivercostforproduct.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unavailable</servlet-name>
    <jsp-file>/unavailable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>unavailable</servlet-name>
    <url-pattern>/unavailable.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>categories</servlet-name>
    <jsp-file>/categories.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/categories.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productDetailController</servlet-name>
    <servlet-class>CONTROLLER.productDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetailController</servlet-name>
    <url-pattern>/productDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accountController</servlet-name>
    <servlet-class>CONTROLLER.accountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountController</servlet-name>
    <url-pattern>/accountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivationAccountController</servlet-name>
    <servlet-class>CONTROLLER.ActivationAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationAccountController</servlet-name>
    <url-pattern>/ActivationAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>amountPriceController</servlet-name>
    <servlet-class>CONTROLLER.amountPriceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>amountPriceController</servlet-name>
    <url-pattern>/amountPriceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelOrderController</servlet-name>
    <servlet-class>CONTROLLER.CancelOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderController</servlet-name>
    <url-pattern>/CancelOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartController</servlet-name>
    <servlet-class>CONTROLLER.cartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartController</servlet-name>
    <url-pattern>/cartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoriesController</servlet-name>
    <servlet-class>CONTROLLER.CategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesController</servlet-name>
    <url-pattern>/CategoriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkAvalableUsernameController</servlet-name>
    <servlet-class>CONTROLLER.checkAvalableUsernameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkAvalableUsernameController</servlet-name>
    <url-pattern>/checkAvalableUsernameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutController</servlet-name>
    <servlet-class>CONTROLLER.checkoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutController</servlet-name>
    <url-pattern>/checkoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteorderController</servlet-name>
    <servlet-class>CONTROLLER.deleteorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteorderController</servlet-name>
    <url-pattern>/deleteorderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverCostController</servlet-name>
    <servlet-class>CONTROLLER.DeliverCostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverCostController</servlet-name>
    <url-pattern>/DeliverCostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverCostForProductController</servlet-name>
    <servlet-class>CONTROLLER.DeliverCostForProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverCostForProductController</servlet-name>
    <url-pattern>/DeliverCostForProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverCostTranpostController</servlet-name>
    <servlet-class>CONTROLLER.DeliverCostTranpostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverCostTranpostController</servlet-name>
    <url-pattern>/DeliverCostTranpostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverInfoController</servlet-name>
    <servlet-class>CONTROLLER.DeliverInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverInfoController</servlet-name>
    <url-pattern>/DeliverInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliverstatusController</servlet-name>
    <servlet-class>CONTROLLER.DeliverStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliverstatusController</servlet-name>
    <url-pattern>/DeliverstatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editorderController</servlet-name>
    <servlet-class>CONTROLLER.editorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editorderController</servlet-name>
    <url-pattern>/editorderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailConfigureController</servlet-name>
    <servlet-class>CONTROLLER.EmailConfigureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailConfigureController</servlet-name>
    <url-pattern>/EmailConfigureController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExchangeOrderController</servlet-name>
    <servlet-class>CONTROLLER.ExchangeOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangeOrderController</servlet-name>
    <url-pattern>/ExchangeOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>extensionController</servlet-name>
    <servlet-class>CONTROLLER.extensionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extensionController</servlet-name>
    <url-pattern>/extensionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeDeliverController</servlet-name>
    <servlet-class>CONTROLLER.HomeDeliverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeDeliverController</servlet-name>
    <url-pattern>/HomeDeliverController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoDeliverController</servlet-name>
    <servlet-class>CONTROLLER.InfoDeliverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoDeliverController</servlet-name>
    <url-pattern>/InfoDeliverController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inventoryController</servlet-name>
    <servlet-class>CONTROLLER.inventoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inventoryController</servlet-name>
    <url-pattern>/inventoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>languageController</servlet-name>
    <servlet-class>CONTROLLER.languageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>languageController</servlet-name>
    <url-pattern>/languageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>languageManageController</servlet-name>
    <servlet-class>CONTROLLER.languageManageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>languageManageController</servlet-name>
    <url-pattern>/languageManageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lockUserController</servlet-name>
    <servlet-class>CONTROLLER.lockUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lockUserController</servlet-name>
    <url-pattern>/lockUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginControler</servlet-name>
    <servlet-class>CONTROLLER.loginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginControler</servlet-name>
    <url-pattern>/loginControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>CONTROLLER.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lstProductController</servlet-name>
    <servlet-class>CONTROLLER.lstProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lstProductController</servlet-name>
    <url-pattern>/lstProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lstPromotionController</servlet-name>
    <servlet-class>CONTROLLER.lstPromotionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lstPromotionController</servlet-name>
    <url-pattern>/lstPromotionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageAccountController</servlet-name>
    <servlet-class>CONTROLLER.manageAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageAccountController</servlet-name>
    <url-pattern>/manageAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageCategoryActionController</servlet-name>
    <servlet-class>CONTROLLER.manageCategoryActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageCategoryActionController</servlet-name>
    <url-pattern>/manageCategoryActionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageCategoryController</servlet-name>
    <servlet-class>CONTROLLER.manageCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageCategoryController</servlet-name>
    <url-pattern>/manageCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageCategoryDeleteController</servlet-name>
    <servlet-class>CONTROLLER.manageCategoryDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageCategoryDeleteController</servlet-name>
    <url-pattern>/manageCategoryDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageController</servlet-name>
    <servlet-class>CONTROLLER.manageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageController</servlet-name>
    <url-pattern>/manageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageDeleteProductController</servlet-name>
    <servlet-class>CONTROLLER.manageDeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageDeleteProductController</servlet-name>
    <url-pattern>/manageDeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageDeliveryController</servlet-name>
    <servlet-class>CONTROLLER.manageDeliveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageDeliveryController</servlet-name>
    <url-pattern>/manageDeliveryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageLogoutController</servlet-name>
    <servlet-class>CONTROLLER.manageLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageLogoutController</servlet-name>
    <url-pattern>/manageLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageOptionController</servlet-name>
    <servlet-class>CONTROLLER.ManageOptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOptionController</servlet-name>
    <url-pattern>/ManageOptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageOrderController</servlet-name>
    <servlet-class>CONTROLLER.manageOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageOrderController</servlet-name>
    <url-pattern>/manageOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageOrderDeleteController</servlet-name>
    <servlet-class>CONTROLLER.manageOrderDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageOrderDeleteController</servlet-name>
    <url-pattern>/manageOrderDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageOrderDetailController</servlet-name>
    <servlet-class>CONTROLLER.manageOrderDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageOrderDetailController</servlet-name>
    <url-pattern>/manageOrderDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageProductController</servlet-name>
    <servlet-class>CONTROLLER.manageProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageProductController</servlet-name>
    <url-pattern>/manageProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageProductUpdateController</servlet-name>
    <servlet-class>CONTROLLER.manageProductUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageProductUpdateController</servlet-name>
    <url-pattern>/manageProductUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageRegisterController</servlet-name>
    <servlet-class>CONTROLLER.manageRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageRegisterController</servlet-name>
    <url-pattern>/manageRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageUserController</servlet-name>
    <servlet-class>CONTROLLER.manageUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUserController</servlet-name>
    <url-pattern>/manageUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageUserDetailController</servlet-name>
    <servlet-class>CONTROLLER.manageUserDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUserDetailController</servlet-name>
    <url-pattern>/manageUserDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageUserUpdateController</servlet-name>
    <servlet-class>CONTROLLER.manageUserUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUserUpdateController</servlet-name>
    <url-pattern>/manageUserUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mangeLoginController</servlet-name>
    <servlet-class>CONTROLLER.mangeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mangeLoginController</servlet-name>
    <url-pattern>/mangeLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NLCompletedController</servlet-name>
    <servlet-class>CONTROLLER.NLCompletedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NLCompletedController</servlet-name>
    <url-pattern>/NLCompletedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NLUpdateOrderController</servlet-name>
    <servlet-class>CONTROLLER.NLUpdateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NLUpdateOrderController</servlet-name>
    <url-pattern>/NLUpdateOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderController</servlet-name>
    <servlet-class>CONTROLLER.orderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderController</servlet-name>
    <url-pattern>/orderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderdetailController</servlet-name>
    <servlet-class>CONTROLLER.orderdetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderdetailController</servlet-name>
    <url-pattern>/orderdetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentControler</servlet-name>
    <servlet-class>CONTROLLER.paymentControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentControler</servlet-name>
    <url-pattern>/paymentControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productDetailAdminController</servlet-name>
    <servlet-class>CONTROLLER.productDetailAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetailAdminController</servlet-name>
    <url-pattern>/productDetailAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerControler</servlet-name>
    <servlet-class>CONTROLLER.registerControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerControler</servlet-name>
    <url-pattern>/registerControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerSellerController</servlet-name>
    <servlet-class>CONTROLLER.registerSellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerSellerController</servlet-name>
    <url-pattern>/registerSellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchController</servlet-name>
    <servlet-class>CONTROLLER.searchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchController</servlet-name>
    <url-pattern>/searchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchInvenCotroller</servlet-name>
    <servlet-class>CONTROLLER.SearchInvenCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInvenCotroller</servlet-name>
    <url-pattern>/SearchInvenCotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchproamountController</servlet-name>
    <servlet-class>CONTROLLER.searchproamountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchproamountController</servlet-name>
    <url-pattern>/searchproamountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchProductsTextController</servlet-name>
    <servlet-class>CONTROLLER.SearchProductsTextController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductsTextController</servlet-name>
    <url-pattern>/SearchProductsTextController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerController</servlet-name>
    <servlet-class>CONTROLLER.sellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerController</servlet-name>
    <url-pattern>/sellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerInfoContronller</servlet-name>
    <servlet-class>CONTROLLER.sellerInfoContronller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerInfoContronller</servlet-name>
    <url-pattern>/sellerInfoContronller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerMainController</servlet-name>
    <servlet-class>CONTROLLER.sellerMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerMainController</servlet-name>
    <url-pattern>/sellerMainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerNoticeController</servlet-name>
    <servlet-class>CONTROLLER.sellerNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerNoticeController</servlet-name>
    <url-pattern>/sellerNoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerOrderCancelController</servlet-name>
    <servlet-class>CONTROLLER.sellerOrderCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerOrderCancelController</servlet-name>
    <url-pattern>/sellerOrderCancelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerProductController</servlet-name>
    <servlet-class>CONTROLLER.sellerProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerProductController</servlet-name>
    <url-pattern>/sellerProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShippingCompanyController</servlet-name>
    <servlet-class>CONTROLLER.ShippingCompanyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingCompanyController</servlet-name>
    <url-pattern>/ShippingCompanyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticsAdminController</servlet-name>
    <servlet-class>CONTROLLER.StatisticsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsAdminController</servlet-name>
    <url-pattern>/StatisticsAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticsAdminMonthCurrentController</servlet-name>
    <servlet-class>CONTROLLER.StatisticsAdminMonthCurrentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsAdminMonthCurrentController</servlet-name>
    <url-pattern>/StatisticsAdminMonthCurrentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticsAdminYearCurrentController</servlet-name>
    <servlet-class>CONTROLLER.StatisticsAdminYearCurrentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsAdminYearCurrentController</servlet-name>
    <url-pattern>/StatisticsAdminYearCurrentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticsController</servlet-name>
    <servlet-class>CONTROLLER.StatisticsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsController</servlet-name>
    <url-pattern>/StatisticsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stisticsAdminDateCotroller</servlet-name>
    <servlet-class>CONTROLLER.stisticsAdminDateCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stisticsAdminDateCotroller</servlet-name>
    <url-pattern>/stisticsAdminDateCotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestEmailConfigureController</servlet-name>
    <servlet-class>CONTROLLER.TestEmailConfigureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEmailConfigureController</servlet-name>
    <url-pattern>/TestEmailConfigureController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmailConfigureController</servlet-name>
    <servlet-class>CONTROLLER.UpdateEmailConfigureController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmailConfigureController</servlet-name>
    <url-pattern>/UpdateEmailConfigureController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateInforAccountController</servlet-name>
    <servlet-class>CONTROLLER.updateInforAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateInforAccountController</servlet-name>
    <url-pattern>/updateInforAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadController</servlet-name>
    <servlet-class>CONTROLLER.uploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadController</servlet-name>
    <url-pattern>/uploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useOrderController</servlet-name>
    <servlet-class>CONTROLLER.useOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useOrderController</servlet-name>
    <url-pattern>/useOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageApplyREOrderController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ManageApplyREOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageApplyREOrderController</servlet-name>
    <url-pattern>/ManageApplyREOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageOrderApplyCancelController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ManageOrderApplyCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderApplyCancelController</servlet-name>
    <url-pattern>/ManageOrderApplyCancelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageOrderCancelController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ManageOrderCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderCancelController</servlet-name>
    <url-pattern>/ManageOrderCancelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageOrdersController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ManageOrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrdersController</servlet-name>
    <url-pattern>/ManageOrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageReturnExchangeOrderController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ManageReturnExchangeOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageReturnExchangeOrderController</servlet-name>
    <url-pattern>/ManageReturnExchangeOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnExchangeController</servlet-name>
    <servlet-class>CONTROLLER.OrderManager.ReturnExchangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnExchangeController</servlet-name>
    <url-pattern>/ReturnExchangeController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>loadlanguage.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>notice.html</welcome-file>
  </welcome-file-list>
</web-app>